<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@new_image_url) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4>
    Date: <%= "Tuesday, October 12th" %><br>
    Temperature: <%= @weather[:current][:temp] %><br>
    High Temp (Next 8 Days)(Fahrenheit): <%= @max_temp %> <br>
    Low Temp (Next 8 Days)(Fahrenheit): <%= @min_temp %> <br>
    Summary: <%= @weather[:current][:weather].first[:description] %>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
